@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========== SHARED CSS =========== */
body{
    font-family: "Azeret Mono", monospace;
    background-color: #ffffff;
}

/* ========== BANNER SECTION STARTS ========= */
.banner-container{
    max-width: 1920px;
    height: 100vh;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px dashed rgba(0, 0, 0, 0.226);
}

.banner-elements{
    width: 1297px;
    height: 564px;
    position: absolute;
    top: 30px;
    text-align: center;
}


.banner-elements h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.banner-elements h1 span{
    color: red;
}


.banner-elements p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.banner-elements button {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    background: rgb(13, 19, 33);
    color: white;
    margin-top: 65px;
  }

.banner-elements button:hover{
    cursor: pointer;
    opacity: 0.7;
}

/* ======= WHY SECTION STARTS ======== */
.why-container {
    border-radius: 20px;
    background: rgba(13, 19, 33, 0.04);
    max-width: 1482px;
    margin: 0 auto;
    margin-top: 80px;
}

.why-elements{
    padding: 80px 97px;
}

.why-head h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
}

.why-head p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: justify;
    opacity: 0.7;
}

.why1-container, .why2-container, .why3-container {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.7) 100%);
    margin-top: 48px;
}

.why1, .why2,.why3{
    padding: 48px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why-container h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.why-container p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 17px;
}

.why-container button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 32px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px 25px;
    border-radius: 8px;
}

.why-container .why-img2{
    scale: 1.2;
}
.why-container .why-img3{
    scale: 1.2;
}

/* ========= INSPIRATION SECTION STYLES STARTS ========== */
.inspiration-container{
    max-width: 1482px;
    margin: 0 auto;
}

.insp-elements{
    padding: 80px 97px;
}

.insp-head{
    margin-bottom: 24px;
}

.insp-head h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 34px;
}

.insp-head p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: justify;
}

.insp-video-container {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 32px;
}

.insp-video-content{
    width: 1398px;
    height: 720px;
    border-radius: 16px;
}

/* ========== CURRENT TARGET STYLES STARTS ========== */
.current-target-container{
    max-width: 1482px;
    margin: 0 auto;
}

.current-target-head h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.current-target-head p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: justify;
    opacity: 0.7;
}

.cur-tgt-card-container{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card-elm{
    padding: 40px;
}

.card-elm-1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.card-elm-2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.card-elm-3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.cur-tgt-card-container .card-icon{
    margin-bottom: 24px;
}

.cur-tgt-card-container h1 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

.cur-tgt-card-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: justify;
    opacity: 0.7;
    margin-bottom: 24px;
}

.cur-tgt-card-container button {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    border: none;
    background-color: transparent;
}

/* =========== SUPPORT STYLES STARTS =========== */
.support-container {
    max-width: 1482px;
    height: 314px;
    margin: 0 auto;
    margin-top: 35px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../assets/handshake.jpg');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.support-elements {
    padding: 48px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.support-elements h1 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.support-elements p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.inp-sub {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    /* margin-top: 24px; */
}

.inp-sub input {
    display: flex;
    width: 548px;
    padding: 19px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
}

.inp-sub button {
    display: flex;
    width: 120px;
    padding: 17px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
}

/* ======= FOOTER SECTION ======== */
.footer {
    margin-top: 79px;
    background: rgba(13, 19, 33, 0.03);
}

.footer .footer-container {
    max-width: 1482px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container h1 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.footer-container .social-links{
    display: flex;
    gap: 25px;
}