@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========== SHARED CSS =========== */
body{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-family: "Azeret Mono", monospace;
    background-color: #ffffff;
    /* display: flex; */
    /* margin: 0 auto; */
}

/* ========== BANNER SECTION STARTS ========= */
.banner-container{
    max-width: 1920px;
    height: 100vh;
    background-image: url('../assets/hero-bg.png');
    /* background-image: url('https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background-attachment: fixed; */
    /* text-align: center; */
    position: relative;
    /* margin: 0 auto; */
    /* top: 0; */
}

.banner-elements{
    width: 1297px;
    height: 564px;
    position: absolute;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0; */
    /* padding-top:  170px; */
    top: 70px;
    text-align: center;
}

.banner-elements .banner-image{
    /* position: absolute; */
    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
    /* padding-top: 26px; */
    /* padding-bottom: px; */
    /* text-align: center; */
    /* padding-top: 60px; */

}

.banner-elements h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.banner-elements h1 span{
    color: red;
}

.banner-elements p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding-bottom: 60px;
}

.banner-elements button {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    background: rgb(13, 19, 33);
    color: white;
  }

/* ======= WHY SECTION STARTS ======== */
.why-container {
    border-radius: 20px;
    background: rgba(13, 19, 33, 0.04);
    max-width: 1482px;
    margin: 0 auto;
    margin-top: 75px;
}

.why-elements{
    padding: 80px 97px;
}

.why-head h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}

.why-head p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: justify;
    opacity: 0.7;
}